@using StationLinerMVC.Models
<div class="row">
    <div class="col-md-12">
       
        <div class="col-md-10 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <h4>Product</h4>
                                    
                                </div>
                                <div class="col-md-2">
                                    <div class="col-md-12">
                                        <h4>Opening Meter Readings</h4>
                                    </div>
                                </div>
                                                   
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <h4> Closing meter Readings</h4>
                                        
                                       
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-md-12">
                                        <h4>sold</h4>           
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-md-12">
                                        <h4>Test data</h4>
                                    </div>
                                </div>
                            </div>
                                              
                        </div>
                      
                    
        </div>
       
    </div>
</div> 
@{
    using (IMSDataEntities db = new IMSDataEntities())
    {
        //first we get the active shift
        var shift = db.Shifts.FirstOrDefault(x => x.IsActive == true && x.StationId == Library.ChannelId);
        if (shift != null)
        {
            //if there is an active shift get the opening details
            //start with the pump
            var pumps = db.NozzleReadings.Where(x => x.ShiftId == shift.Id).Select(x => x.PumpId).Distinct();
            if (pumps.Any())
            {
                foreach (var pump in pumps)
                {
                    var details = db.NozzleReadings.Where(x => x.ShiftId == shift.Id && x.PumpId == pump);
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                @{
                                    var name = db.StationPumps.Find(pump);
                                    @name.Name
                                }
                            </div>
                            <div class="col-md-10">
                               @{
                                   var nozzles = details.Select(x => x.NozzleId);
                                   var electronicReadings = details.Select(x => x.StartElectronicReading).ToArray();
                                   var manualcReadings = details.Select(x => x.StartManualReading).ToArray();
                                   var readingIds = details.Select(x => x.Id).ToArray();
                                   if (nozzles.Any())
                                   {
                                       var count = 0;
                                       foreach (var nozzle in nozzles)
                                       {
//                                            var name = db.PumpNozzles.Find(nozzle).
                                           var nozzleId = db.PumpNozzles.Find(nozzle);
                                           var nozzleName = db.Products.Find(nozzleId.ProductId);
                                          
@*                                           @nozzle*@
                                           <div class="row">
                                               <div class="col-md-12 readings-div">
                                                   <div class="col-md-2">
                                                       @nozzleName.ProductName 
                                                       <input type="hidden" class="reading-id" value="@readingIds[count]"/>
                                                       <input type="hidden" class="nozzle-id" value="@nozzle"/>
                                                   </div>
                                                   <div class="row">
                                                   <div class="col-md-2 opening-readings-div">
                                                       <div class="col-md-12">
                                                           @*                                                           <div class="col-md-12">*@
                                                           <div class="form-group has-success">
                                                               <input type="text" value="@manualcReadings[count]" class="form-control  opening-manual-reading" readonly="readonly" />
                                                           </div>
                                                           @*                                                           </div> *@
                                                           @*                                                           <div class="col-md-12">*@
                                                           <div class="form-group has-success">
                                                               <input type="text" value="@electronicReadings[count]" class="form-control opening-electronic-reading" readonly="readonly" />
                                                           </div>
                                                           @*                                                           </div>*@
                                                       </div>
                                                   </div>
                                                   
                                                   <div class="col-md-3 closing-readings-div">
                                                       <div class="col-md-12">
                                                           <div class="form-group has-success">
                                                               <input type="number" class="form-control manual-reading" min="@manualcReadings[count]" placeholder="Manual" name="manual" required />
                                                           </div>
                                                           <div class="form-group has-success">
                                                               <input type="number" class="form-control electronic-reading end-electronic-reading" min="@electronicReadings[count]" name="electronic" placeholder="Electronic" />
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="col-md-2">
                                                       <div class="col-md-12">
                                                           <div class="form-group has-success">
                                                               <input type="number" class="form-control manual-sold" name="sold" readonly="readonly" />
                                                           </div>
                                                           <div class="form-group has-success">
                                                               <input type="number" class="form-control electronic-sold" readonly="readonly" name="sold" />
                                                           </div>
                                                           
                                                       </div>
                                                   </div>
                                                       <div class="col-md-2">
                                                           <div class="col-md-12">
                                                               <div class="form-group has-success">
                                                                   <input type="number" min="0" class="form-control test-data" name="testdata" placeholder="Liters" required="required"/>
                                                               </div>
                                                          

                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                              
                                           </div>
                                  
                                           count++;
                                       }
                                   }
                               }
                            </div>

                        </div>
                    </div> 
                    <hr style="margin-bottom: 10px;margin-top:10px"/>
                        
                }
            }
            
        }
    }
}