@using StationLinerMVC.Models

@{
    ViewBag.Title = "Station Home";
    Layout = "~/Views/Shared/_StationHomePageL.cshtml";
}
@section Styles
{
   
}

<!-- Info boxes -->

    <div class="row" style="padding: 13px">
        @{Html.RenderPartial("partials/_message");}

        @if (ViewBag.shift != null)
        {
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @*        <strong><i class="icon fa fa-check"></i> !</strong>*@
                Active Shift : @ViewBag.shiftDetails.ShiftName <br />
                Description : @ViewBag.shiftDetails.ShiftDescription
            </div>
        }
    </div>
    <div class="row">
        @if (ViewBag.openShift == true)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    if (ViewBag.shift == null)
                    {
                        <a href="@Url.Action("StartShift")">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                                <div class="info-box-content">
                                    @*                <span class="info-box-text"></span>*@
                                    <span class="info-box-number">
                                        <h3>Open Shift</h3>
                                    </span>
                                    @*                <div class="inner">jksnvjks</div>*@
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="#start-shift-modal" data-toggle="modal" class="disabled">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                                <div class="info-box-content">
                                    @*                <span class="info-box-text"></span>*@
                                    <span class="info-box-number">
                                        <h3>Open Shift</h3>
                                    </span>
                                    @*                <div class="inner">jksnvjks</div>*@
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </a>
                    }
                }
                
                <!-- /.info-box -->
            </div>
        }

        @if (ViewBag.CashDrop == true) {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="@Url.Action("MakeCashDrop")">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            @*                <span class="info-box-text"></span>*@
                            <span class="info-box-number">
                                <h3>Cash Drop</h3>
                            </span>
                            @*                <div class="inner">jksnvjks</div>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
        }
        @if (ViewBag.BankCash == true)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="@Url.Action("BankCash")">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-bank"></i></span>
                        <div class="info-box-content">
                            @*                <span class="info-box-text"></span>*@
                            <span class="info-box-number">
                                <h3>Bank Cash</h3>
                            </span>
                            @*                <div class="inner">jksnvjks</div>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
        }

        @if (ViewBag.CloseShift == true)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="@Url.Action("CloseShiftView")">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-bank"></i></span>
                        <div class="info-box-content">
                            @*                <span class="info-box-text"></span>*@
                            <span class="info-box-number">
                                <h3>Close Shift</h3>
                            </span>
                            @*                <div class="inner">jksnvjks</div>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
        }
        @if (ViewBag.ReceiveFuel == true)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="@Url.Action("GetFuelReciepts")">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-bank"></i></span>
                        <div class="info-box-content">
                            @*                <span class="info-box-text"></span>*@
                            <span class="info-box-number">
                                <h3>Recieve Fuel</h3>
                            </span>
                            @*                <div class="inner">jksnvjks</div>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
        }
@*        @if (ViewBag.ReceiveFuel == true)*@
@*        {*@
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="@Url.Action("ShiftSummary")">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-th"></i></span>
                        <div class="info-box-content">
                            @*                <span class="info-box-text"></span>*@
                            <span class="info-box-number">
                                <h3>Shift Summuries</h3>
                            </span>
                            @*                <div class="inner">jksnvjks</div>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
@*        }*@
@*        @if (ViewBag.ReceiveFuel == true)*@
@*        {*@
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="@Url.Action("FuelLevels")">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-balance-scale"></i></span>
                        <div class="info-box-content">
                            @*                <span class="info-box-text"></span>*@
                            <span class="info-box-number">
                                <h3>Fuel Levels</h3>
                            </span>
                            @*                <div class="inner">jksnvjks</div>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
@*        }*@
    </div>
    
    
   

<!-- /.row -->


@*modal for starting a shift*@
<div class="modal fade" id="start-shift-modal" role="dialog">
   
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Start Shift</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <p>An active shift already exists, please close it first before you opening an new one.</p>
                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Ok</button>
@*                    <button type="submit" class="btn btn-primary">Proceed</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
</div>

@*cash drops modal*@
<div class="modal fade" id="cashdrop-modal" role="dialog">
    <form id="" action="@Url.Action("MakeCashDrop")" method="post">
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Make a cash drop</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">
                        <label>Staff</label>
                        <select class="form-control" name="StaffId" required="required">
                            <option value="">Select Stuff</option>
                            @{
                                using (var db = new IMSDataEntities())
                                {
                                    var staffs = db.Users;
                                    if (staffs.Any())
                                    {
                                        foreach (var staff in staffs)
                                        {
                                            <option value="@staff.Id">@staff.FullName</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" name="Amount" class="form-control" required="required"/>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Proceed</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
</div>

@*bank cash modal*@
<div class="modal fade" id="bank-cash-modal" role="dialog">
    <form id="" action="@Url.Action("MakeCashDrop")" method="post">
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Make a cash drop</h4>
                </div>
                <div class="modal-body">

                   

                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" name="Amount" class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Proceed</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
</div>

@*modal for recieving fuell*@
<div class="modal fade" id="recieve-fuel" role="dialog">
    <form id="" action="" method="post">
        @*        @Html.AntiForgeryToken()*@
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Choose one below</h4>
                </div>
                <div class="modal-body">



                    <div class="form-group">
                        <a href="@Url.Action("BeginFuelReceipt")" class="btn btn-primary btn-block">Begin Fuel Receipt</a>
                    </div>
                    
                    <div class="form-group">
                        <a href="@Url.Action("CompleteFuelReceipt")" class="btn btn-success btn-block">Complete Fuel Receipt</a>
                    </div>
                    

                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Proceed</button>
                </div>*@
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
</div>

