@model StationLinerMVC.Models.SetnewPasswordViewModel
@{
    ViewBag.Title = "Set password";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";

}



@using (Html.BeginForm("SetPassword", "Staffs", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.userId)
    
    <div class="form-group has-feedback">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control has-feedback",placeholder ="Enter new password" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control has-feedback" , placeholder="Re-enter password"})
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>

    </div>
    <div class="form-group">
@*        <div class="col-md-offset-2 col-md-10">*@
            <input type="submit" class="btn btn-default btn-block" value="Confirm" />
@*        </div>*@
    </div>
}

